<h1><%= link_to("#{issue.tracker.name} ##{issue.id}: #{issue.subject}", issue_url) %></h1>

<% items = [] %>
<% %w(author status priority assigned_to category fixed_version).each do |attribute| %>
  <% unless issue.disabled_core_fields.include?(attribute+"_id") %>
    <% items << "#{l("field_#{attribute}")}: #{issue.send attribute}" %>
  <% end %>
<% end %>
<% items %>
<%= content_tag('ul', items.map{|s| content_tag('li', s)}.join("\n").html_safe) %>

<hr />

For security reasons the description and other sensitive fields are only available by logging into Redmine.
